:root{
    --outline-blue: #2c2c76;
    --white: #f5f1f1;
}

nav {
    padding: 0;
    width: 648px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav li {
    display: block;
    float: left;
    padding: 5px;
    padding-top: 8px;
    width: 150px;
    height: 25px;
    list-style: none;
    text-align: center;
    color: var(--outline-blue);
    background-color: var(--white);
}

nav li:hover {
    border: 1px solid var(--white);
    border-radius: 15px;
    color: var(--white);
    background-color: var(--outline-blue);
}