:root{
    --heading-blue: #2e2e6d;
    --lightbluesteel: #a7c2da;
    --paper-white: #ffffff;
}

div#Recipe-Card-Page-Container {
    border: 1px solid green;
    display: block;
    height: 80vh;
    width: 850px;
    float: left;
    clear: none;
    overflow: hidden;
    background-color: var(--lightbluesteel);
}

div#Recipe-Paper-View {
    border: 1px solid gray;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    min-height: 85vh;
    overflow-y: scroll;
    background-color: var(--paper-white);
}

div#Recipe-Card-Page-Container h2{
    border-bottom: 1px solid var(--heading-blue);
    padding-top: 5px;
    padding-bottom: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--heading-blue);
}

div#Recipe-Card-Page-Container h3{
    
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
    width: 650px;
    color: var(--heading-blue);
}

ul {
    padding: 0;
    width: 600px;
    margin: 0;
    padding-left: 100px;
}

ul li.recipe-card-list-item-ingr{
    list-style:disc;
    padding-top: 3px;
}